<li id="comms.id">
  <%= comment.comment %>
  <% if current_user.present? %>
  <%= link_to 'Borrar', post_comment_path(@post, comment), method: :delete,
  data: { remote: true, confirm: 'Are you sure?' } %>
  <% end %>
  
</li>
