
.jumbotron {
  /* background-image: url("head.jpg"); */
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;

}
