  <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="height:80vh; background-size: cover; background-image: url(http://latinflyer.com/wp-content/uploads/blogger/_2uPZWAvVOws/S8UWwDnbmSI/AAAAAAAAAa4/ulnTPVJRmNg/s1600/santiago7173low.jpg);">

    <div class="container-fluid uno">
      <div class="row  justify-content-center align-items-center d-flex text-center h-100">
        <div class="col-12 col-md-8  h-50 ">
            <h1 class="display-2  text-light mb-2 mt-5"><strong>Street Art Scl</strong> </h1>

          <div class="btn-container-wrapper p-relative d-block  zindex-1">
            <a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center text-light" href="http://bootstraptor.com">
                <i class="fa fa-angle-down fa-4x text-light"></i>
                </a>
          </div>
        </div>

      </div>
    </div>
  </section>
